* {
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
      background-color: #002fff;
  }
  
  #newspaper {
    height: 50px;
  }
  
  #smiley {
    height: 50px;
  }
  
  #x {
    height: 50px;
  }
  
  header {
    width: 100%;
  }
  
  header div {
    display: flex;
    justify-content: flex-end;
  }
  
  #navbar {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }
  
  #logo {
    display: block;
    height: 100px;
    margin: auto;
    margin-top: -30px;
  }
  
  #feed {
    height: 1000px;
    width: 700px;
    background-color: rgb(0, 204, 255);
    margin: auto;
    margin-top: 20px;
  }
  
  #settings {
    position: fixed;
    margin-bottom: 50px;
  }
  
  footer {
    position: relative;
    margin: auto;
    width: 200px;
    margin-top: 600px;
  }

  #users {
    width: 100px;
    height: 100px;
  }

  #rightPanel {
    background-color: brown;
    width: 200px;
    margin: auto;
    margin-top: -700px;
    position: relative;
    right: -460px;
  }

  #leftPanel {
    background-color:rgb(23, 130, 156);
    width: 200px;
    margin: auto;
    position: relative;
    right: 470px;
  }

  #signIn {
    width: 200px;
    height: 200px;
    background-color: rgb(216, 122, 122);
    margin: auto;
    position: absolute;
    z-index: 2;
    bottom: 000px;
    left: 200px;
  }

  #createAccount {
    width: 200px;
    height: 200px;
    background-color: rgb(150, 22, 22);
    margin: auto;
    position: absolute;
    z-index: 2;
    bottom: 000px;
    left: 300px;
  }

  #profile {
    width: 200px;
    height: 200px;
    background-color: rgb(37, 150, 22);
    margin: auto;
    position: absolute;
    z-index: 2;
    bottom: 000px;
    left: 400px;
  }