<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MediaMaker</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <div>
        <ul id="navbar">
          <li>
            <img
              id="newspaper"
              src="images/newspaper-png--1600-813841397.png"
            />
          </li>
          <li>
            <img
              id="smiley"
              src="images/blue-smiley-emoji-emoticons-hd-png-vln1wB-1186553093.png"
            />
          </li>
          <li>
            <a id="logout" href="#"><img
              id="x"
              src="images/76-760200_big-red-x-red-x-mark-transparent-background-3144257813.png"
            /></a>
          </li>
        </ul>
      </div>
      <img id="logo" src="images/mediamaker_logo.png" />
    </header>




      <div id="main">
        {{{ body  }}}
      </div>

      <script>
        <li>
          
        </li>
      </script>
      
      




    

    <div id="leftPanel">
      <div>
        <p>Following</p>
        <img id="batmantwo" src="images/profilePictures/batman.jpg">
        <img id="supermantwo" src="images/profilePictures/superman.jpg">
        <img id="greenlanterntwo" src="images/profilePictures/greenlantern.jpg">
      </div>
      <div>
        <p>Content</p>
        <img id="photoIcon" src="images/camerapng.parspng.com-2.png">
        <img id="bookIcon" src="images/lovepik-book-book-png-image_400238641_wh1200.png">
      </div>
    </div>

    <footer>
      <p>(C) MediaMaker 2023</p>
    </footer>
  
  <script src="/js/logout.js"></script>
  </body>
</html>