<div class="card">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="signup">
    <form id="signup-form" class="card-body">
      <div>
        <label for="signup-username">Username</label>
        <input type="text" id="signup-username" />
      </div>
      <div>
        <label for="signup-email">Email</label>
        <input type="email" id="signup-email" />
      </div>
      <div>
        <label for="signup-password">Password</label>
        <input type="password" id="signup-password" />
      </div>
      <button type="submit" id="signup-btn" class="btn" >Signup!</button>
      <a href="/">Already have an account? Login</a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>