<section class="hero is-primary mt-6">
  <div class="hero-body">
    <p class="title">
      Welcome to MediaMaker
    </p>
    <p class="subtitle">
      Create an Account
    </p>
  </div>
</section>

<form id="signup-form" class="box mb-6">
    <div class="field">
      <label class="label" for="signup-username">Username</label>
      <div class="control has-icons-left">
      <input class="input" type="text" id="signup-username" />
      <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
      </div>
    </div>
    <div class="field">
      <label class="label" for="signup-email">Email</label>
      <div class="control has-icons-left">
      <input class="input" type="text" id="signup-email" />
      <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
      </div>
    </div>
    <div class="field">
      <label class="label" for="signup-password" class="form-label">Password</label>
      <div class="control has-icons-left">
      <input class="input" type="password" id="signup-password" />
      <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
      </div>
    </div>

    <div class="field is-grouped">
  <div class="control">
    <button type="submit" class="button is-link">Sign up</button>
  </div>
  <a class="button is-link is-light" href="/">Already have an account? Login</a>
</div>
  </form>



<script src="/js/signup.js"></script>